<form [formGroup]="loginForm" class="container" >
  <label class="form-label"><strong>EMAIL ADDRESS<a style="font-size: 13px;" class="error-label">*</a></strong></label>
  <input  formControlName="email" class="form-input" type="text" id="email">
  <div>
    <div *ngIf="loginForm.controls.email.errors && loginForm.controls.email.errors.required && loginForm.controls.email.dirty">
      <label class="error-label">Field is Required</label>
    </div>
    <div *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.errors?.email">
      <label class="error-label">Please enter a valid email</label>
    </div>
  </div>
  <label class="form-label"><strong>PASSWORD<a style="font-size: 13px;" class="error-label">*</a></strong></label>
  <input  formControlName="password" class="form-input" type="password" id="pass">
  <div>
    <div *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.dirty">
      <label class="error-label">Field is Required</label>
    </div>
    <div *ngIf="loginForm.controls.password.errors?.minlength">
      <label class="error-label">Please enter 8 or more than 8 characters</label>
    </div>
  </div>
  <button class="form-btn" type="submit"><strong>LOGIN</strong></button>
  <div class="alignself div-margin">
    <label class="wrap lil-text">I've forgotten my password </label>
  </div>
  <div class="alignself div-margin">
    <label class="wrap lil-text">New to <strong>Resume Maker  </strong><a class="links" routerLink="/register">Create An
          Account</a></label>
  </div>
  <br>
</form>
