<header>
  <div class="mainHeader flex">
    <div class="imgdiv">
      <h2>Resume Maker</h2>
    </div>
    <ul class="navlinks lstyle flex">
      <li><a href="/">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Contact Us</a></li>
      <li><button>Login</button></li>
    </ul>
  </div>
</header>
<router-outlet></router-outlet>
<footer class="mainfooter">
  <div class="content-center">
    <div class="content-center flex">
      <div class="list footer-div">
        <ul class="lstyle">
          <strong>Support</strong>
          <li>About us</li>
          <li>Contact Us</li>
          <li>FAQ</li>
          <li>Pricing</li>
        </ul>
      </div>
      <div class="list footer-div">
        <ul class="lstyle"><strong>Resume</strong>
          <li>Terms & Conditons</li>
          <li>Privacy Policies</li>
          <li>Refund Policy</li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="content-center">
    <div class="center">
      <p>2021 Freshresume.co All rights reserved | Terms and Conditions | Privacy Policy |
        support@freshresume.co</p>
    </div>
  </div>
</footer>
