@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Poppins";
  overflow-x: hidden;
  /* line-height: 1;
  letter-spacing: 0.4px;
  word-spacing: 1px; */
}
html,
body {

  margin: 0%;
  padding: 0%;
}
h1 {
  font-size: 60px;
  margin: 15px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 20px;
  margin: 12px;
}
footer{
  background-color: blueviolet;
}
.flex{
  display: flex;
}
.lstyle {
  list-style: none;
}
.content-center{
  justify-content: center;
  color: white;
}
.navlinks li a{
  width: auto;
  justify-content: space-between;
  text-decoration: none;
}
.content-center p{
  font-size: 13px;
  padding: 10px 0 10px 0 ;

}
.center{
  justify-content: center;
  text-align: center;
}
.mainHeader{
  padding: 50px;
  justify-content: space-between;
}
.footer-div{
  padding: 30px 0% 20px 0% ;
}
.list{
  justify-content: center;
  line-height: 3rem;
  margin: 0 10% 0 10%;
}
