<div class="main_body">
  <div class="container">
  </div>
  <div class="banner">
    <div>
      <h1>Create a resume that gets you the job!</h1>
    </div>
    <div>
      <p>Our field-tested resumes are created in minutes and proven to work!</p>
    </div>
    <div>
      <button routerLink="/form" class="btn">Create Resume</button>
    </div>
  </div>
  <div class="card-div center">
    <div class="card-div-header">
      <h2>It’s so easy, you don’t even need to think</h2>
    </div>
    <div class="flex center">
      <div class="cards">
        <div><img src="" alt=""></div>
        <h2>Add your info</h2>
        <p>Use pre-written phrases and interactive layouts to create a winning resume</p>
      </div>
      <div class="cards">
        <div><img src="" alt=""></div>
        <h2>Pick a template</h2>
        <p>Select our template from a range of field-tested styles and resume formats</p>
      </div>
      <div class="cards">
        <div><img src="" alt=""></div>
        <h2>Apply for jobs!</h2>
        <p>Download your resume or share an online link directly with your future employer</p>
      </div>
    </div>
  </div>
  <div class="job center">
    <div class="job-seeker">
      <h2>Why take the long way around?</h2>
    </div>
    <div>
      <p>We know a shortcut. Join 1,00,000 job seekers worldwide and build your best resume yet.</p>
    </div>
    <div>
      <button class="btn">Create Resume</button>
    </div>
  </div>
  <div class="card-div center">
    <div class="card-div-header">
      <h2>Frequently Ask Question</h2>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
